.handle {
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 100;
}

.handle::before {
  content: "";
  background: #fff;
  border: 1px solid #2196F3;
  height: 6px;
  left: 50%;
  position: absolute;
  margin-left: -3px;
  margin-top: -3px;
  top: 50%;
  width: 6px;
  z-index: 100;
}

.handleLeft {
  cursor: ew-resize;
  left: 0;
  margin-left: -10px;
  margin-top: -10px;
  top: 50%;
}

.handleTop {
  cursor: ns-resize;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  top: 0;
}

.handleBottom {
  bottom: 0;
  cursor: ns-resize;
  left: 50%;
  margin-left: -10px;
  margin-bottom: -10px;
}

.handleRight {
  cursor: ew-resize;
  margin-right: -10px;
  margin-top: -10px;
  right: 0;
  top: 50%;
}

.cornerTopLeft {
  cursor: nwse-resize;
  left: -10px;
  top: -10px;
}

.cornerTopRight {
  cursor: nesw-resize;
  right: -10px;
  top: -10px;
}

.cornerBottomLeft {
  bottom: -10px;
  cursor: nesw-resize;
  left: -10px;
}

.cornerBottomRight {
  bottom: -10px;
  cursor: nwse-resize;
  right: -10px;
}
