.handle {
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 100;
}

.handle::before {
  content: "";
  background: #007CA5;
  border: 2px solid white;
  border-radius: 8px;
  height: 10px;
  left: 50%;
  position: absolute;
  margin-left: -6px;
  margin-top: -6px;
  top: 50%;
  width: 10px;
}

.handleLeft {
  cursor: ew-resize;
  left: 0;
  margin-left: -12px;
  margin-top: -12px;
  top: 50%;
}

.handleTop {
  cursor: ns-resize;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  top: 0;
}

.handleBottom {
  bottom: 0;
  cursor: ns-resize;
  left: 50%;
  margin-left: -12px;
  margin-bottom: -12px;
}

.handleRight {
  cursor: ew-resize;
  margin-right: -12px;
  margin-top: -12px;
  right: 0;
  top: 50%;
}

.cornerTopLeft {
  cursor: nwse-resize;
  left: -11px;
  top: -11px;
}

.cornerTopRight {
  cursor: nesw-resize;
  right: -11px;
  top: -11px;
}

.cornerBottomLeft {
  bottom: -11px;
  cursor: nesw-resize;
  left: -11px;
}

.cornerBottomRight {
  bottom: -11px;
  cursor: nwse-resize;
  right: -11px;
}
